html {
    font-family: sans-serif;
}

body {
    margin: 0;
}
/* 1024 / 3 = 341.333333333333333333 */
.it-container {
    width: 1024px;
    /*background-color: #525050; */
    margin-right: auto;
    margin-left: auto;
}

.it-wrapper-pc {
    width: 1024px;
    background-color: #DFE2DB;
    height: 250px;
    margin-bottom: 5px;
}

.it-wrapper-laptop {
    width: 1024px;
    background-color: #F4F5F7;
    height: 250px; 
    margin-bottom: 5px;
}

.it-wrapper-mobiteli {
    width: 1024px;
    background-color: #E35854;
    height: 250px;
    margin-bottom: 5px;
}
/* 67BCDB */
.it-wrapper-tableti {
    width: 1024px;
    background-color: #E35854;
    height: 250px; 
    margin-bottom: 5px;
}

.it-wrapper-details {
    width: 250px;
    background-color: #FFFFFF;
    height: 250px;
    color: #2B2B2B;
}